#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FOCALTECH_3680
	tristate "Focaltech Touchscreen 3680"
	help
	  Say Y here if you have Focaltech touch panel 3680.
	  If unsure, say N.
